<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N5 | <%= title %></title>
</head>
<body>
    <nav>
        <div class = "site-title">
        <a href = "/"> <h1>Trends in Application Development</h1> </a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro dolores laboriosam modi vero mollitia
             sit praesentium dolore! Nostrum temporibus eaque ea pariatur soluta nam totam asperiores. At iste labore unde.</p>
    
    
    <ul>
        <li><a href ="/"> Blogs </a></li>
        <li><a href ="/about"> About </a></li>
        <li><a href ="/blogs/create"> New Blog </a></li>
    </ul>
    
    </nav>

    <% if (blogs.len > 0) {%>
        <%blogs.forEach( blog => {%>

            <h3 class = "title">    <%= blog.title%></h3>
            <p class = "snipper">   <%= blog.snippet%></p>

        <% }) %>
    <% } else { %>

            <p> There are no blogs to display.....</p>

        <% } %>
</body>
</html>